.auth {
  background: linear-gradient(
    112.87deg,
    #13a2d7 0%,
    #3492b5 45.3%,
    #8bbcce 100%
  );
  height: 100vh;
  overflow-y: hidden;
  padding: 50px 10px;
}
.auth-content {
  max-width: 600px;
}
.auth-logo {
  width: 100%;
  display: "flex";
  text-align: center;
  margin-bottom: 50px;
}
.binair-logo {
  display: block;
  margin: 0 auto;
}
.auth-main {
  padding: 50px 50px 20px 50px;
  width: 100%;
  background: #ffffff;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

.auth-form {
  padding-top: 30px;
}

::placeholder {
  color: red;
  font-size: 14px;
}

.form-input:focus {
  box-shadow: none;
}

.btn-login {
  width: 100%;
  height: 55px;
  background: #f37c20;
  border: none;
}

.btn-login:hover {
  background: #ea741a;
}

a {
  color: black;
  text-decoration: none;
}

.btn-switchForm:hover {
  color: black;
  text-decoration: underline;
}

.btn-switchForm {
  border: none;
  background: transparent;
}

.form-input-phone input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #dee2e6;
}

input:focus {
  outline: none;
}

.dropdown-toggle {
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  background: transparent;
  color: black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0;
}

.dropdown-toggle:hover {
  background: transparent;
  color: black;
  border-bottom: 1px solid #dee2e6;
}

.dropdown-toggle:focus {
  background: transparent;
  color: black;
  border-bottom: 1px solid #dee2e6;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #dee2e6;
  outline: none;
  border-radius: 0;
}

.dropdown-toggle select {
  display: none;
  margin-top: 5px;
}
