.panel {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.panel .panel-block {
    border-top: none;
    border-bottom: 1px solid rgba(154,154,157,.35);
}

.modal-header-detail {
    background-color: #f5f5f5;
}

.modal-body-detail {
    background-color: #f5f5f5;
}

.modal-header-history {
    background-color: #f5f5f5;
}

.modal-open h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #59595b;
    
}

.modal-open p.normal{
    font-weight: 500;
}

.line.is-vertical {
    height: 114px;
    width: 1px;
    background-color: #dedede;
}

.flight-detail-container .divider.is-vertical {
    position: relative;
}

.icon.circle {
    position: relative;
    vertical-align: -0.125em;
}

.icon.circle svg{
    height: 0.5em;
    color: #9a9a9d;
}

.order-detail h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #59595b;
}

.order-detail h3{
    font-size: 1rem;
    font-weight: 500;
}

.order-detail h4{
    font-size: 1rem;
    font-weight: 700;
    color: #59595b;
}

/* .back-button {
    position: absolute;
    top: -5px;
} */

.is-relative {
    position: relative;
}

.flight-detail {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.panel-grey {
    background-color: #f7f7f7;
}

.flight-timeline {
    width: 520px;
}   

.flight-detail-airline-info {
    margin-left: 10px;
    min-width: 150px;
}

.self-center {
    align-self: center;
}

.timeline-departure {
    width: 170px;
}

.time-line-wrapper {
    flex: 1!important;
}

.time-line .divider {
    position: absolute;
    top: 12px;
    right: 0;
    bottom: auto;
    left: 0;
}

.timeline-arrival {
    width: 170px;
}

.time-line svg{
    background-color: #fff;
    width: 30px;
    z-index: 1;
}

.has-text-right {
    text-align: right;
}

.fifth-detail {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.sixth-detail {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.summary.card {
    box-shadow: none;
}

.price-summary-header {
    border-bottom: none;
}

.is-green {
    color: #00d1b2;
}
