.navbar {
    padding: 8px 0px;
    transition: 0.3s;
}
.navbar-brand img {
    margin-bottom: 8px;
}
nav.sticky {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav,
.row {
    width: 100%;
}
.selected-link {
    color: red;
}
.nav-dropdown {
    display: inline-block;
}
.dropdown-toggle {
    border: none !important;
}
.button-login {
    background-color: #fff;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #9a9a9d;
}
.button-login:hover {
    background-color: #fff;
}
.nav-dropdown a {
    color: #4a4a4a;
    margin-top: 4px;
}

nav a {
    color: #59595b;
    padding: 12px;
}
nav a.active {
    color: #13a2d7 !important;
    font-weight: 600;
}
.tab {
    color: #9a9a9d;
}
.tab:active {
    color: red;
}
.dropdown-toggle {
    display: flex;
    align-items: flex-start;
}
.dropdown-menu.show {
    padding: 20px;
}
.dropdown-item {
    padding: 8px 20px 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.dropdown-item:hover {
    background-color: #13a2d7;
    color: #fff;
}
.remix-icon {
    font-size: 18px;
    margin-right: 10px;
}
.bar-timeline {
    counter-reset: step;
    padding: 0;
    counter-increment: step 0;
    margin-top: 20px;
    width: 100%;
}
.bar-timeline li {
    list-style-type: none;
    float: left;
    width: 32%;

    font-size: 12px;
    position: relative;
    text-align: center;
    color: #7d7d7d;
}
.bar-timeline li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    height: 20px;
    line-height: 16px;
    background-color: #fff;
    border: 1px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    border-radius: 50%;
    letter-spacing: 0px;
    font-size: 10px;
    font-weight: 700;
}
.bar-timeline li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #7d7d7d;
    top: 9px;
    left: -50%;
    z-index: -1;
}
.bar-timeline li:first-child:after {
    content: none;
}
.bar-timeline li.active {
    color: #13a2d7;
    font-weight: 700;
}
.bar-timeline li.active:before {
    border-color: #13a2d7;
    background-color: #fff;
    border: 1px solid #13a2d7;
}
.bar-timeline li.active + li:after {
    background-color: #13a2d7;
}
.navbar-expand-md .navbar-nav {
    width: 100%;
}

@media (min-width: 576px) and (max-width: 767.9px) {
    .nav-dropdown {
        display: block;
        padding: 2px 0;
    }
    .btn-login {
        margin-top: 20px;
    }
    .offcanvas {
        width: 60% !important;
    }
    .navbar .container {
        display: flex;
    }
    .navbar-expand-md .navbar-nav {
        width: 50%;
        padding: 0 !important;
    }
    .navbar-brand {
        margin: 0 !important;
    }
    .navbar-brand img {
        width: 70px;
    }
    .offcanvas-body .d-flex {
        display: inline !important;
    }
}

@media (min-width: 419px) and (max-width: 575.9px) {
    .nav-dropdown {
        display: block;
        padding: 6px 0;
    }
    .btn-login {
        margin-top: 20px;
    }
    .offcanvas {
        width: 60% !important;
    }
    .navbar .container {
        display: flex;
    }
    .navbar-expand-md .navbar-nav {
        width: 50%;
        padding: 0 !important;
    }
    .navbar-brand {
        margin: 0 !important;
    }
    .navbar-brand img {
        width: 70px;
    }
    .offcanvas-body .d-flex {
        display: inline !important;
    }
}

@media (max-width: 418.9px) {
    .offcanvas {
        width: 60% !important;
    }
    .navbar .container {
        display: flex;
    }
    .navbar-expand-md .navbar-nav {
        width: 50%;
        padding: 0 !important;
    }
    .navbar-brand {
        margin: 0 !important;
    }
    .navbar-brand img {
        width: 50px;
    }
    .offcanvas-body .d-flex {
        display: inline !important;
    }
}
