.btn-backHome {
  width: 100%;
  height: 55px;
  background: #f37c20;
  border: none;
}

.btn-backHome:hover {
  background: #ea741a;
}

.btn-backHome:focus{
  background: #ea741a;
}

main .notFound {
  background: red;
}