.status-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.status-filter .btn {
  width: 100%;
  color: #9a9a9d;
  background-color: #f7f7f7;
  font-weight: 700;
  border: 1px solid rgba(154, 154, 157, 0.35);
  border-radius: 25px;
  max-width: 180px;
  text-align: center;
}

.img-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  color: #59595b;
}

.img-box .txt {
  color: #9a9a9d;
}

.header-text {
  font-size: 18px;
  font-weight: 700;
  color: #59595b;
}

.is-grey {
  color: #9a9a9d;
}

.subheader {
  height: 40px;
  background-color: #f7f7f7;
}

.subheader-text {
  font-size: 16px;
  font-weight: 700;
  color: #59595b;
}

.flight-info-timeline {
  text-align: center;
}
.flight-info-end {
  width: 200px;
}
.flight-info-start {
  width: 200px;
}

.timeline {
  position: relative;
  width: 180px;
}
.airplane-single {
  background-color: #fff;
  color: #9a9a9d;
  width: 30px;
  position: absolute;
}

.divider {
  background-color: #dedede;
  width: 100%;
  height: 1px;
}

.order-right-summary {
  border-left: 1px solid rgba(154, 154, 157, 0.35);
}

.order-code {
  text-align: center;
}

.status-badge {
  display: block;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 20px;
  color: #9a9a9d;
  border: 1px solid #c8c8c8;
  background-color: #dedede;
  text-align: center;
  text-transform: capitalize;
}

.status-badge.is-warning {
  border-color: #d49c42;
  background-color: rgba(240, 183, 95, 0.6);
  color: #cc9c50;
}

.status-badge.is-danger {
  border-color: #d35e54;
  background-color: rgba(211, 94, 84, 0.6);
  color: #a24942;
}

.status-badge.is-info {
  border-color: #17a2b8;
  background-color: rgba(23, 162, 184, 0.6);
  color: #0f7a8c;
}

.status-badge.is-success {
  border-color: #4caf50;
  background-color: rgba(76, 175, 80, 0.6);
  color: #3f7f3f;
}
