.content-e-ticket {
    background-color: #f5f5f5;
}

.content.container {
    background-color: #ffffff;
}

/* .d-flex {
    flex-wrap: wrap;
} */

.e-ticket-logo img {
    height: 100px;
}

.is-bold {
    font-weight: 700;
    color: #59595B;
}

.is-grey {
    color: #9A9A9D
}

thead{
    background-color: #13A2D7;
    color: #ffffff;
}

tbody {
    font-weight: 700;
}