.term-service-section {
    padding-top: 20px;
}
.term-service-title {
    font-size: 36px;
    font-weight: 700;
    color: #59595b;
}
.accordion-term {
    padding: 20px 0 80px 0;
}
.accordion-button {
    font-size: 16px;
    font-weight: 500;
    color: #59595b;
}
.accordion-button:not(.collapsed) {
    color: #13a2d7;
    font-weight: 700;
}
.accordion-body {
    font-size: 14px;
    color: #59595b;
}
